@model dotNetCoreMvcSandbox.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;Add to cart
    </button>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;Edit
    </a>
    <a class="btn btn-primary" asp-action="Index">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;&nbsp;Back to list
    </a>
</div>